Repository robsonek/aiPanel: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, eslint, prettier

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: gofmt -l -d {staged_files} && test -z "$(gofmt -l {staged_files})"
    golangci-lint:
      glob: "*.go"
      run: GOMODCACHE="$(pwd)/.cache/gomod" GOCACHE="$(pwd)/.cache/gobuild" golangci-lint run ./...
    eslint:
      root: "web/"
      glob: "*.{ts,tsx}"
      run: pnpm lint
    prettier:
      root: "web/"
      glob: "*.{ts,tsx,css,json}"
      run: pnpm prettier --check {staged_files}

feat: complete sprint 1 foundation and quality gates
  .github/workflows/ci.yml
  .lefthook.yml
  Makefile
  cmd/aipanel/main.go
  cmd/aipanel/main_test.go
  configs/defaults/panel.yaml
  internal/modules/iam/iam.go
  internal/modules/iam/iam_test.go
  internal/platform/config/config.go
  internal/platform/config/config_test.go
  internal/platform/httpserver/server.go
  internal/platform/logger/logger.go
  internal/platform/middleware/middleware.go
  internal/platform/sqlite/sqlite.go
  internal/platform/sqlite/sqlite_test.go
  scripts/build.sh
  scripts/dev.sh
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/index.css
  web/src/locales/en.json
Due: gofmt, golangci-lint, eslint, prettier

fix: stabilize auth data path and config loading
  cmd/aipanel/main.go
  internal/platform/config/config.go
  internal/platform/config/config_test.go
  internal/platform/httpserver/server.go
Due: gofmt, golangci-lint

feat: add installer phase 1 with security hardening
  CHANGELOG.md
  cmd/aipanel/main.go
  cmd/aipanel/main_test.go
  internal/installer/installer.go
  internal/installer/installer_test.go
  internal/installer/steps/steps.go
  internal/platform/httpserver/server.go
  internal/platform/systemd/systemd.go
Due: gofmt, golangci-lint

fix: resolve PHP-FPM socket conflict and nginx default_server duplicate
  internal/installer/installer.go
  internal/modules/hosting/adapter_nginx.go
  internal/modules/hosting/adapter_nginx_test.go
  internal/modules/hosting/adapter_phpfpm.go
  internal/modules/hosting/adapter_phpfpm_test.go
  internal/modules/hosting/handler.go
  internal/platform/httpserver/server.go
  internal/platform/httpserver/server_cookie_test.go
Due: gofmt, golangci-lint

feat(installer): source-only runtime with signed upstream builds
  cmd/aipanel/main.go
  cmd/aipanel/main_test.go
  configs/sources/components.yaml
  configs/sources/lock.json
  internal/installer/installer.go
  internal/installer/installer_test.go
  internal/installer/options_test.go
  internal/installer/sources.go
  internal/installer/sources_test.go
  internal/installer/steps/steps.go
  internal/modules/database/database_test.go
  internal/modules/database/handler.go
  internal/modules/database/handler_test.go
  internal/modules/database/service.go
  internal/modules/hosting/hosting_test.go
  internal/modules/hosting/service.go
  internal/platform/sqlite/sqlite.go
  web/src/features/databases/CreateDatabaseForm.tsx
  web/src/features/sites/CreateSiteForm.tsx
Due: gofmt, golangci-lint, eslint, prettier

ci: build golangci-lint with workflow Go version
  .github/workflows/ci.yml
Due: none

ci: upgrade golangci-lint action to v9 (v2 support)
  .github/workflows/ci.yml
Due: none

ci: move pipeline to latest tool versions
  .github/workflows/ci.yml
  .golangci.yml
  docs/ci-quality-gates.md
Due: none

fix(installer): avoid statfs cast overflow warning in gosec
  internal/installer/installer.go
Due: gofmt, golangci-lint

chore(web): bump frontend deps to latest npm releases
  web/package.json
  web/pnpm-lock.yaml
Due: prettier

Fix runtime signatures and hosting/mariadb provisioning
  configs/sources/lock.json
  internal/installer/installer.go
  internal/modules/hosting/hosting_test.go
  internal/modules/hosting/service.go
  scripts/check_runtime_signatures.py
Due: gofmt, golangci-lint

Disable setup-go cache when go.sum is absent
  .github/workflows/ci.yml
Due: none

Fix gosec findings in hosting create-site flow
  internal/modules/hosting/hosting_test.go
  internal/modules/hosting/service.go
Due: gofmt, golangci-lint

Simplify interactive install with use-default mode
  cmd/aipanel/main.go
  cmd/aipanel/main_test.go
Due: gofmt, golangci-lint

Add reverse proxy option to interactive install
  cmd/aipanel/main.go
  cmd/aipanel/main_test.go
  configs/templates/nginx_panel_vhost.conf.tmpl
  internal/installer/installer.go
  internal/installer/options_test.go
Due: gofmt, golangci-lint

Add auto-release workflow for pushes
  .github/workflows/release-on-push.yml
Due: none

Add copy-paste install guide to README
  README.md
Due: none

Fix release checksum format and README verification
  .github/workflows/release-on-push.yml
  README.md
Due: none

Validate admin password before installer run
  cmd/aipanel/main.go
  cmd/aipanel/main_test.go
  internal/installer/installer.go
  internal/installer/options_test.go
Due: gofmt, golangci-lint

Fix nginx temp dir ownership for reverse proxy
  internal/installer/installer.go
  internal/installer/installer_test.go
Due: gofmt, golangci-lint

Include /var/lib/nginx parent in temp dir ownership fix
  internal/installer/installer.go
Due: gofmt, golangci-lint

Add default phpMyAdmin install and single-step mode
  cmd/aipanel/main.go
  cmd/aipanel/main_test.go
  configs/templates/nginx_panel_vhost.conf.tmpl
  internal/installer/installer.go
  internal/installer/installer_test.go
  internal/installer/options_test.go
  internal/installer/steps/steps.go
Due: gofmt, golangci-lint

Refresh nginx config during phpMyAdmin-only install
  internal/installer/installer.go
  internal/installer/installer_test.go
Due: gofmt, golangci-lint

Fix phpMyAdmin nginx routing and installer sudo UX
  configs/templates/nginx_panel_vhost.conf.tmpl
  internal/installer/installer.go
  internal/installer/installer_test.go
Due: gofmt, golangci-lint

Stream installer command logs and fix PHP mysqli runtime deps
  configs/sources/lock.json
  internal/installer/installer.go
  internal/installer/installer_test.go
  internal/platform/systemd/systemd.go
Due: gofmt, golangci-lint

installer: add letsencrypt tls step and certbot auto-install
  cmd/aipanel/main.go
  cmd/aipanel/main_test.go
  configs/templates/nginx_panel_vhost.conf.tmpl
  internal/installer/installer.go
  internal/installer/installer_test.go
  internal/installer/options_test.go
  internal/installer/steps/steps.go
  internal/platform/systemd/systemd.go
  internal/platform/systemd/systemd_test.go
Due: gofmt, golangci-lint

Add PostgreSQL runtime and dual-engine database support
  cmd/aipanel/main.go
  configs/sources/lock.json
  internal/installer/installer.go
  internal/installer/sources.go
  internal/installer/sources_test.go
  internal/modules/database/adapter_postgres.go
  internal/modules/database/adapter_postgres_test.go
  internal/modules/database/database_test.go
  internal/modules/database/handler.go
  internal/modules/database/handler_test.go
  internal/modules/database/model.go
  internal/modules/database/service.go
  internal/platform/sqlite/sqlite.go
  internal/platform/sqlite/sqlite_test.go
  pkg/adapter/postgresql.go
  web/src/features/databases/CreateDatabaseForm.tsx
  web/src/locales/en.json
Due: gofmt, golangci-lint, eslint, prettier

Show only available database engines in UI
  internal/modules/database/database_test.go
  internal/modules/database/handler.go
  internal/modules/database/handler_test.go
  internal/modules/database/service.go
  internal/platform/httpserver/server.go
  web/src/features/databases/CreateDatabaseForm.tsx
  web/src/features/databases/DatabasesPage.tsx
  web/src/locales/en.json
Due: gofmt, golangci-lint, eslint, prettier

Support --only runtime service aliases for installer
  cmd/aipanel/main.go
  internal/installer/installer.go
  internal/installer/installer_test.go
  internal/installer/options_test.go
Due: gofmt, golangci-lint

Support runtime-only alias install dependencies and explicit postgresql alias
  cmd/aipanel/main.go
  internal/installer/installer.go
  internal/installer/installer_test.go
  internal/installer/options_test.go
Due: gofmt, golangci-lint

Install bison/flex prerequisites for PostgreSQL runtime build
  internal/installer/installer.go
  internal/installer/installer_test.go
Due: gofmt, golangci-lint

Fix PostgreSQL runtime path permissions and symlink ownership
  internal/installer/installer.go
Due: gofmt, golangci-lint

installer: add pgAdmin install step and nginx integration
  cmd/aipanel/main.go
  cmd/aipanel/main_test.go
  configs/templates/nginx_panel_vhost.conf.tmpl
  internal/installer/installer.go
  internal/installer/installer_test.go
  internal/installer/options_test.go
  internal/installer/steps/steps.go
Due: gofmt, golangci-lint

installer: add pgAdmin native build prerequisites
  internal/installer/installer.go
Due: gofmt, golangci-lint

installer: make pgAdmin setup non-interactive
  internal/installer/installer.go
  internal/installer/installer_test.go
Due: gofmt, golangci-lint

installer: switch pgAdmin to wheel-only installation
  internal/installer/installer.go
  internal/installer/installer_test.go
Due: gofmt, golangci-lint

installer: fix pgAdmin wheel install and proxy path
  configs/templates/nginx_panel_vhost.conf.tmpl
  internal/installer/installer.go
Due: gofmt, golangci-lint

refactor installer/runtime to fresh-install-only mode
  cmd/aipanel/main.go
  cmd/aipanel/main_test.go
  internal/installer/installer.go
  internal/installer/installer_test.go
  internal/installer/options_test.go
  internal/modules/database/adapter_mariadb.go
  internal/modules/database/adapter_mariadb_test.go
  internal/modules/database/adapter_postgres.go
  internal/modules/database/adapter_postgres_test.go
  internal/modules/database/database_test.go
  internal/modules/database/model.go
  internal/modules/database/service.go
  internal/modules/hosting/adapter_nginx.go
  internal/modules/hosting/adapter_nginx_test.go
  internal/modules/hosting/adapter_phpfpm.go
  internal/modules/hosting/adapter_phpfpm_test.go
  internal/platform/sqlite/sqlite.go
  internal/platform/sqlite/sqlite_test.go
Due: gofmt, golangci-lint

Add runtime lock URL sync and update command
  cmd/aipanel/main.go
  cmd/aipanel/main_test.go
  internal/installer/installer.go
  internal/installer/installer_test.go
  internal/installer/options_test.go
Due: gofmt, golangci-lint
